<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://thinkmatt.itligencesolutions.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>208.94.243.212:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ThinkingMatters</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>OXNUlgZQpApTLEDNefKA</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StanfordCoursesContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordCourseMatch;Persist Security Info=True;User ID=StanfordCourseMatch;Password=Stanford.!1;Application Name=EntityFramework" Name="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordCourseMatch;Persist Security Info=True;User ID=StanfordCourseMatch;Password=Stanford.!1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordCourseMatch;Persist Security Info=True;User ID=StanfordCourseMatch;Password=Stanford.!1;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StanfordCoursesContainer_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/StanfordCourses.csdl|res://*/StanfordCourses.ssdl|res://*/StanfordCourses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mc.dev.itligencesolutions.com;initial catalog=StanfordCourseMatch;persist security info=True;user id=StanfordCourseMatch;password=Stanford.!1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordLogin;User ID=StanfordCourseMatch;Password=Stanford.!1" Name="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordLogin;User ID=StanfordCourseMatch;Password=Stanford.!1" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordLogin;User ID=StanfordCourseMatch;Password=Stanford.!1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordLogin;User ID=StanfordCourseMatch;Password=Stanford.!1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StanfordCoursesContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/StanfordCourses.csdl|res://*/StanfordCourses.ssdl|res://*/StanfordCourses.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mc.dev.itligencesolutions.com;Initial Catalog=StanfordCourseMatch;Persist Security Info=True;User ID=StanfordCourseMatch;Password=Stanford.!1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>